body {
    font-family: "Amiko", sans-serif;
}

nav .navbar-brand {
    font-size: xx-large;
    font-weight: 600;
}

.purple {
    color: #9b68e7;
}

.btn-primary, .btn-primary:active:focus {
    background-color: #9b68e7;
    border-color: #9b68e7;
    color: #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #9b68e7;
    border-color: #9b68e7;
}

.btn-outline-primary, .btn-outline-primary:active:focus {
    background-color: #fff;
    color: #9b68e7;
    border-color: #9b68e7;
}

.btn-outline-primary:hover {
    background-color: #9b68e7;
    border-color: #9b68e7;
    color: #fff;
}

.btn-danger, .btn-danger:active:focus {
    background-color: #e03444;
    border-color: #e03444;
    color: #fff;
}

.btn-danger:hover {
    background-color: #fff;
    color: #e03444;
    border-color: #e03444;
}

.btn-outline-danger, .btn-outline-danger:active:focus {
    background-color: #fff;
    color: #e03444;
    border-color: #e03444;
}

.btn-outline-danger:hover {
    background-color: #e03444;
    border-color: #e03444;
    color: #fff;
}

.text-primary {
    color: #9b68e7 !important;
}

nav .navbar-brand .logo-image {
    height: 32px;
    width: auto;
}

.amiko-regular {
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amiko-semibold {
  font-family: "Amiko", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.amiko-bold {
  font-family: "Amiko", sans-serif;
  font-weight: 700;
  font-style: normal;
}
