{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h1 class="fw-bold">Error {{ code }}: {{ message }}</h1>
    <img alt="{{ message }}" width="400px" class="border img-fluid" src="https://img.freepik.com/premium-photo/red-caution-safety-urgent-3d-icon-attention-isolated-white-background-alert-exclamation-warning-sign-error-alarm-important-notice-danger-failure-symbol-forbidden-trouble-problem-message_79161-2284.jpg" title="{{ message }}">
{% endblock %}