{% extends "layout.html" %}

{% block title %}Direct Messages{% endblock %}

{% block main %}
    <div class="container">
        <h3 class="my-4">Direct Messages</h3>
        <ul class="list-group">
            {% for conversation in conversations %}
                <li class="list-group-item position-relative">
                    <a href="{{ url_for('conversation', conversation_id=conversation['id']) }}" class="purple text-decoration-none position-absolute start-50 translate-middle-x fs-5">
                        {{ conversation['username'] }}
                    </a>
                    <span class="text-muted position-relative float-end">{{ conversation['last_message_time'] }}</span>
                    <br>
                    <div class="mt-2 text-muted position-relative text-center">
                        {{ conversation['last_message'] }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}